.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 380px;
    padding: 24px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }

  .login-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .login-icon img {
    width: 64px;
    height: 64px;
  }
  
  
  .login-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .login-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .login-button {
    width: 200px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .login-button:hover {
    background: #1d4ed8;
  }
  