.machine-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: -50px;
}


.machine-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.machine-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.add-btn {
  background-color: #16a34a;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #2563eb;
}

.table-wrapper {
  overflow-x: auto;
}

.machine-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

.machine-table th,
.machine-table td {
  border: 1px solid black;
  padding: 10px 12px;
  text-align: center; 
  vertical-align: middle; 
}

.machine-table th {
  background-color: #e5e9ec;
  font-weight: 600;
}

.machine-table tr:nth-child(even) {
  background-color: #f9fafb;
}

.edit-btn {
  background-color: #fbbf24;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 6px;
  border: none;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #f59e0b;
}

.delete-btn {
  background-color: #ef4444;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #dc2626;
}
